// not really components

// HEADER ELEMENT
.logo {
  height: 3.25rem;
  margin-left: 2rem;
}

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: $mid-phone-screen-bp) {
    order: 1;
    flex: 0 0 100%;
    background-color: var(--color-grey--light-2);
    margin-bottom: 0;
  }

  &-input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-grey--light-2);
    border-radius: 10rem;
    padding: 0.7rem 2rem;
    border: none;
    width: 90%;
    transition: all 0.3s;
    margin-right: -3rem;

    &:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey--light-3);
    }

    &::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey--light-4);
    }
  }

  &-button {
    border: none;
    background-color: rgba(255, 255, 255, 0);

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(0.2rem);
    }
  }

  &-icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey--dark-3);
  }
}

.user-nav {
  align-self: stretch;

  display: flex;
  align-items: center;

  & > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
  }

  & > *:hover {
    background-color: var(--color-grey--light-2);
  }

  &-icon-box {
    position: relative;
  }

  &-icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey--dark-2);
  }

  &-notification {
    font-size: 0.8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50rem;
    background-color: var(--primary-color);
    color: #fff;
    position: absolute;
    top: 1.5rem;
    right: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem;
  }
}

// SIDE NAVIGATION

.side-nav {
  list-style: none;
  font-size: 1.4rem;
  margin-top: 3.5rem;

  @media screen and (max-width: $sm-screen-bp) {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 0rem;
  }

  &-item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 0.5rem;

      @media screen and (max-width: $sm-screen-bp) {
        margin-bottom: 0rem;
      }
    }

    @media screen and (max-width: $sm-screen-bp) {
      flex: 1;
    }
  }

  &-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--primary-color);
    transform: scaleY(0);
    transition: transform 0.3s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.3s,
      background-color 0.2s;
  }

  .active-item::before,
  &-item:hover::before {
    transform: scaleY(1);
    width: 100%;
  }

  &-item:active::before {
    background-color: var(--primary-color-light);
  }

  &-link:link,
  &-link:visited {
    text-decoration: none;
    color: var(--color-grey--light-1);
    text-transform: uppercase;
    display: inline-block;
    padding: 1.5rem 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 99;

    @media screen and (max-width: $sm-screen-bp) {
      justify-content: center;
    }

    @media screen and (max-width: $sm-screen-bp) {
      flex-direction: column;
      padding: 1.5rem 0.5rem;
    }
  }

  &-icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor;

    @media screen and (max-width: $sm-screen-bp) {
      margin-right: 0;
      margin-bottom: 0.7rem;
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

// LEGAL TEXT

.legal {
  font-size: 1.2rem;
  color: var(--color-grey--light-4);
  text-align: center;
  padding: 2.5rem;

  @media screen and (max-width: $sm-screen-bp) {
    display: none;
  }
}

// GALLERY

.gallery {
  display: flex;

  &-photo {
    display: block;
    width: 100%;
  }
}

// HOTEL OVERVIEW

.overview {
  display: flex;
  align-items: center;
  border-bottom: var(--border-line);

  &-heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem;

    @media screen and (max-width: $sm-screen-bp) {
      font-size: 1.8rem;
      padding: 1.25rem 2rem;
    }
  }

  &-stars {
    margin-right: auto;
    display: flex;
  }

  &-stars-icon,
  &-location-icon {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--primary-color);
  }

  &-location-icon {
    margin-right: 0.5rem;
  }

  &-location {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
  }

  &-rating {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2.2rem;
    background-color: var(--primary-color);
    margin-left: 3rem;
    color: #fff;

    @media screen and (max-width: $sm-screen-bp) {
      padding: 0rem 1.5rem;
    }

    &-avg {
      font-size: 2.25rem;
      font-weight: 300;
      margin-bottom: -3px;

      @media screen and (max-width: $sm-screen-bp) {
        font-size: 1.8rem;
      }
    }

    &-count {
      font-size: 0.8rem;
      text-transform: uppercase;

      @media screen and (max-width: $sm-screen-bp) {
        font-size: 0.5rem;
      }
    }
  }
}

//BUTTON INLINE

.btn-inline {
  border: none;
  border-bottom: 1px solid currentColor;
  color: var(--primary-color);
  font-size: inherit;
  padding-bottom: 2px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s;

  & span {
    margin-left: 3px;
    transition: margin-left 0.2s;
  }

  &:hover {
    color: var(--color-grey--dark-1);

    span {
      margin-left: 8px;
    }
  }

  &:focus {
    outline: none;
    animation: pulsate 1s infinite;
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }

  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba($color: #000000, $alpha: 0.25);
  }

  100% {
    transform: scale(1);
    box-shadow: none;
  }
}

// PARAGRAPH
.paragraph:not(:last-of-type) {
  margin-bottom: 2rem;
}

// LIST

.list {
  list-style: none;
  margin: 3rem 0;
  padding: 3rem;
  border-top: var(--border-line);
  border-bottom: var(--border-line);
  display: flex;
  flex-wrap: wrap;

  li {
    display: flex;
    align-items: center;
  }

  &-item {
    flex: 0 0 50%;
    margin-bottom: 0.7rem;

    &::before {
      content: "";
      display: inline-block;
      height: 1.5rem;
      width: 1.5rem;
      margin-right: 7px;

      //need to check if masks are supported by the browser
      // background-image: url(../img/chevron-thin-right.svg);
      // background-size: cover;

      background-color: var(--primary-color);
      -webkit-mask-image: url(../img/chevron-thin-right.svg);
      -webkit-mask-size: cover;
      mask-image: url(../img/chevron-thin-right.svg);
      mask-size: cover;
    }
  }
}

//RECOMMEND
.recommend {
  box-sizing: content-box;
  font-size: 1.3rem;
  color: var(--color-grey--dark-3);
  display: flex;
  align-items: center;
  justify-content: space-around;

  &-photo {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 3px solid #fff;
    &:not(:last-child) {
      margin-right: -1.5rem;
    }
  }

  @media screen and (max-width: $big-screen-bp) {
    &-friends {
      margin-right: -5px;
    }
  }

  @media screen and (max-width: $mid-screen-bp) {
    &-friends {
      margin: 0;
    }
  }

  @media screen and (max-width: $sm-screen-bp) {
    display: flex;
    flex-wrap: wrap;
  }
}

//REVIEWS

.review {
  background-color: #fff;
  box-shadow: var(--shadow-subtle);
  padding: 3rem;
  margin-bottom: 3.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
  overflow: hidden;

  @media screen and (max-width: $sm-screen-bp) {
    padding: 2rem;
    margin-bottom: 3rem;
  }

  &-text {
    position: relative;
    z-index: 2;
  }

  &-user {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    &-box {
      margin-right: auto;
    }

    &-name {
      font-size: 1.1rem;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 0.4rem;
    }

    &-date {
      font-size: 1rem;
      color: var(--color-grey--dark-3);
    }
  }

  &-photo {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
  }

  &-rating {
    color: var(--primary-color);
    font-size: 2.2rem;
    font-weight: 300;
  }

  &::before {
    content: "\201C";
    position: absolute;
    top: -2.5rem;
    left: -1rem;
    font-size: 20rem;
    color: var(--color-grey--light-2);
    line-height: 1;
    font-family: sans-serif;
    z-index: 1;
  }
}

// CALL TO ACTION

.cta {
  padding: 3.5rem 0;
  text-align: center;
  background-color: var(--color-grey--light-1);

  @media screen and (max-width: $sm-screen-bp) {
    padding: 2.5rem 0;
  }

  &-book-now {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
  }
}

// CALL TO ACTION BUTTON

.btn {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 100px;
  border: none;
  background-image: linear-gradient(
    to right,
    var(--primary-color-light),
    var(--primary-color-dark)
  );
  color: #fff;
  overflow: hidden;
  position: relative;
  cursor: pointer;

  &-visible {
    display: inline-block;
    height: 100%;
    transition: all 0.2s;
    width: 100%;
    padding: 1.5rem 8rem;
  }

  &-invisible {
    padding: 1.5rem 0;
    display: inline-block;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: -100%;
    transition: all 0.2s;
  }

  &:hover {
    background-image: linear-gradient(
      to left,
      var(--primary-color-light),
      var(--primary-color-dark)
    );
  }

  &:hover &-visible {
    transform: translateY(100%);
  }

  &:hover &-invisible {
    top: 0%;
  }

  &:focus {
    outline: none;
    animation: 1s pulsate infinite;
  }
}
