.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey--light-1);
  box-shadow: var(--shadow-dark);

  min-height: 50vh;

  @media screen and (max-width: $big-screen-bp) {
    margin: 0;
    max-width: 100%;
    max-height: 100vh;
  }
}

.content {
  display: flex;

  @media screen and (max-width: $sm-screen-bp) {
    flex-direction: column;
  }
}

.header {
  font-size: 1.4rem;
  padding: 1rem 0;
  background-color: #fff;
  border-bottom: var(--border-line);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: $mid-phone-screen-bp) {
    gap: 1.5rem;
    align-content: space-between;
    padding: 1rem 0 0 0;
  }
}

.sidebar {
  background-color: var(--color-grey--dark-1);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (max-width: $sm-screen-bp) {
    flex: 0 0 100%;
    justify-content: space-around;
  }
}

.hotel-view {
  background-color: #fff;
  flex: 1 0 0;

  min-height: 50vh;
}

.detail {
  font-size: 1.4rem;

  display: flex;
  gap: 4.5rem;
  padding: 4.5rem;
  background-color: var(--color-grey--light-1);
  border-bottom: var(--border-line);

  @media screen and (max-width: $sm-screen-bp) {
    padding: 3.5rem 2.5rem;
    gap: 2.5rem;
  }

  @media screen and (max-width: $phone-screen-bp) {
    flex-direction: column;
  }
}

.description {
  display: flex;
  flex-direction: column;
  flex: 0 0 60%;
  background-color: #fff;
  box-shadow: var(--shadow-subtle);
  padding: 3rem;

  @media screen and (max-width: $sm-screen-bp) {
    padding: 2rem;
  }
}

.user-reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
